:root{
    --grape:#94618E;
    --eggplant: #94274A;
    --sand: #F4DECB;
    --shell: #F8EEE7;
}

.title{
    font-size: 1.4rem;
    font-weight: 400;
}

.article-form{
    margin: 0 20vw 0 20vw;
    text-align: center;
    width: 40vw;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.375);
}

.article-inputs{
    display: grid;
    grid-template-columns: 30% auto;
    text-align: start;
    padding: 1rem;
}

.label{
    padding: 5px;
    margin-bottom: 1rem;
}

.text-input{
    height: 1.5rem;
    padding: 5px;
    border: 1px solid transparent;
    width: calc(25vw - 5px);
    font-size: 0.8rem;
}

.text-input-xl{
    font-size: 0.8rem;
    height: 5rem;
    max-height: 5rem;
    max-width: 25vw;
    min-height: 5rem;
    min-width: 25vw;
    border: 1px solid transparent;
    padding-left: 5px;
    padding-top: 5px;
}

.primary-button{
    padding: 1rem;
    font-weight: bold;
    color: var(--shell);
    border: 1px solid transparent;
    background: #94618E;
    cursor: pointer;
    margin: 0.8rem;
}

.primary-button:hover{
    color: var(--grape);
    background: var(--shell);
}

.primary-button:disabled {
    opacity: 0.5;
}